@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.btn-add {
  border-radius: 5px;
  border: none;
  outline: 2px solid #008000;
}

.btn-add:hover {
  background-color: #008000;
  transition: 300ms;
}

.delete {
  border-radius: 100px;
  border: none;
  outline: 2px solid #ff0000;
}

.delete:hover {
  background-color: #ff0000;
  transition: 300ms;
}